<div id=vote-container>
  <div class="heading">
    <h1>For whom do you vote?</h1>
  </div>
  <div id="pictures">
    <div id="trump">
        <img src="../images/trump.jpg"/>
    </div>
    <div id="clinton">
      <img src="../images/clinton.png"/>
    </div>
  </div>
</div>
