<div id=vote-container>
<a href="/win"><div id="secret"></div></a>

    <h1 id="whom">For whom do you vote?</h1>

  <div id="pictures">
    <a href="/lose"><img src="../images/trump1.jpg"/></a>
    <a href="/lose"><img src="../images/clinton.png"/></a>
  </div>
</div>
