<div id="login-container">

  <form id="login-box" method="post" action ="/login">
    <h1>Welcome to Shamocracy!</h1>
    <input type="text" name="username-field" placeholder="Enter username">
    <input type="text" name="password-field" placeholder="Enter password">
    <input type="submit" value="Submit" />
  </form>
</div>
