<div id="signup-container">
    <form id="signup-box" method="post" action ="/signup">
    <h1>Signup and make a difference!!!</h1>
    <input type="text" name="username" placeholder="Enter username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="password" name="confirmpassword" placeholder="Confirm password">
    <input type="submit" value="Submit" />
  </form>
  <h3> {{this.info}} </h3>
</div>
