* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

#login-container, #signup-container{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/flag.jpg");
  background-size: cover;
  color: white;
  text-shadow: 4px 4px 5px #000000;
  font-size: 2rem;
}



#vote-container {
  height: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../images/money.jpg");
  background-size: cover;
  color: white;
  text-shadow: 4px 4px 5px #000000;
}

#vote-container h1 {
  width: 100%;
  font-weight: 600;
}

h1 {
 font-weight: 300;
 text-align: center;
}

#pictures {
  height: 70%;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
}

#pictures img {
  max-height: 80%;
  margin: 0 2rem;
  border: 10px solid white;
}

#whom {
  color: white;
}

#loseContainer {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/cloud.jpg");
  background-size: cover;
  color: white;
  text-shadow: 4px 4px 5px #000000;
  font-weight: 600;
  font-size: 550%;
}

#winContainer {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/piet.jpg");
  background-size: cover;
  color: white;
  text-shadow: 4px 4px 5px #000000;
  font-weight: 600;
  font-size: 550%;
}

#secret {
  position: fixed;
  /*border: 1px red solid;
  background-color: red;*/
  height: 10px;
  width: 10px;
  left: 0;
  top: 0;
}

#piet {
  height: 100%;
}

h3 {
  position: fixed;
  top: 20%;
}

#you {
  left: 30%;

}

#win {
  right: 30%;
}


#login-box, #signup-box {
  text-align: center;
}

#signuplink {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}